.main-container {
	margin: 40vmin auto;
	font-family: 'Roboto', sans-serif;
	max-width: 800px;	
}

h1 {
	padding-top: 3vmin;	
	animation: fadein-header 5s;
}

p {		
	animation: fadein 5s;
}

a {
	color: black;
    text-decoration-style: dashed;
    text-decoration-color: darkgray;
}

@keyframes fadein-header {
    from { opacity: 0; padding-top: 0vmin; }
    to   { opacity: 1; padding-top: 3vmin; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}