.main-container {
	margin: 40vmin auto;
	max-width: 800px;	
}

h1 {
	padding-top: 3vmin;
	font-family: 'Roboto', sans-serif;
	animation: fadein-header 5s;
}

p {	
	font-family: 'Roboto', sans-serif;
	animation: fadein 5s;
}

@keyframes fadein-header {
    from { opacity: 0; padding-top: 0vmin; }
    to   { opacity: 1; padding-top: 3vmin; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}